<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>fzRoom</title>
    <meta name="keywords" content="fzRoom,文学社区,方丈遗少杜三贱,程序猿天地" />
    <meta name="description" content="所有热爱文学和编程人员的天地" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="navbar navbar-default" id="navbar" style="background:#00b7d4">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/" class="navbar-brand">
                    <small>
							<span style ='font-family:"Philing";'>fzRoom</span>
							后台管理系统
						</small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-ok"></i> 还有4个任务完成
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">软件更新</span>
                                        <span class="pull-right">65%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:65%" class="progress-bar "></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">硬件更新</span>
                                        <span class="pull-right">35%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">单元测试</span>
                                        <span class="pull-right">15%</span>
                                    </div>

                                    <div class="progress progress-mini ">
                                        <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">错误修复</span>
                                        <span class="pull-right">90%</span>
                                    </div>

                                    <div class="progress progress-mini progress-striped active">
                                        <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
										查看任务详情
										<i class="icon-arrow-right"></i>
									</a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-alt icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-warning-sign"></i> 8条通知
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink icon-comment"></i>
												新闻评论
											</span>
                                        <span class="pull-right badge badge-info">+12</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="btn btn-xs btn-primary icon-user"></i> 切换为编辑登录..
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
												<i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
												新订单
											</span>
                                        <span class="pull-right badge badge-success">+8</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
												<i class="btn btn-xs no-hover btn-info icon-twitter"></i>
												粉丝
											</span>
                                        <span class="pull-right badge badge-info">+11</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
										查看所有通知
										<i class="icon-arrow-right"></i>
									</a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-envelope-alt"></i> 5条消息
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/uploads/users/<%= user.userAvatar %> class="msg-photo" alt="Alex's Avatar" />
                                    <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span> 不知道写啥 ...
                                    </span>

                                    <span class="msg-time">
												<i class="icon-time"></i>
												<span>1分钟以前</span>
                                    </span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="/uploads/users/<%= user.userAvatar %>" class="msg-photo" alt="Susans Avatar" />
                                    <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span> 不知道翻译...
                                    </span>

                                    <span class="msg-time">
												<i class="icon-time"></i>
												<span>20分钟以前</span>
                                    </span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                        <img src="/uploads/users/<%= user.userAvatar %>" class="msg-photo" alt="Susans Avatar" />
                                    <span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span> 到底是不是英文 ...
                                    </span>

                                    <span class="msg-time">
												<i class="icon-time"></i>
												<span>下午3:15</span>
                                    </span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="inbox.html">
										查看所有消息
										<i class="icon-arrow-right"></i>
									</a>
                            </li>
                        </ul>
                    </li>

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/uploads/users/<%= user.userAvatar %>" alt="<%= user.userNick %>的头像" />
                            <span class="user-info">
									<small>欢迎光临,</small>
									<%= user.userNick %>
								</span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i> 设置
                                </a>
                            </li>

                            <li>
                                <a href="/users/toSelect/<%= user.userId %>">
                                    <i class="icon-user"></i> 个人资料
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/users/logout">
                                    <i class="icon-off"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

                    <button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

                    <button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

                    <button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- #sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="active">
                    <a href="index.html">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> fzRoom概况</span>
                    </a>
                </li>


                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> 用户管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/users">
                                <i class="icon-double-angle-right"></i> 用户信息管理
                            </a>
                        </li>

                        <li>
                            <a href="/users/add">
                                <i class="icon-double-angle-right"></i> 用户信息添加
                            </a>
                        </li>

                        <li>
                            <a href="/user/search">
                                <i class="icon-double-angle-right"></i> 用户信息查询
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="icon-double-angle-right"></i> 用户信息分析
                            </a>
                        </li>

                        <li>
                            <a href="nestable-list.html">
                                <i class="icon-double-angle-right"></i> 用户消息收集
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 违规用户信息
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 第四级
                                        <b class="arrow icon-angle-down"></b>
                                    </a>

                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 添加产品
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 查看商品
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-book"></i>
                        <span class="menu-text"> 文章管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/articles">
                                <i class="icon-double-angle-right"></i> 文章信息管理
                            </a>
                        </li>
                        <li>
                            <a href="/articles/create">
                                <i class="icon-double-angle-right"></i> 文章信息添加
                            </a>
                        </li>
                        <li>
                            <a href="/articles/search">
                                <i class="icon-double-angle-right"></i> 文章信息查询
                            </a>
                        </li>

                        <li>
                            <a href="/articles/search">
                                <i class="icon-double-angle-right"></i>文学信息分析
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 各类文章
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 推荐文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 精品文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 新品文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>

                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-book"></i>
                        <span class="menu-text"> 评论管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/comments">
                                <i class="icon-double-angle-right"></i> 评论信息管理
                            </a>
                        </li>
                        <li>
                            <a href="/comments/create">
                                <i class="icon-double-angle-right"></i> 评论信息添加
                            </a>
                        </li>
                        <li>
                            <a href="/comments/search">
                                <i class="icon-double-angle-right"></i> 评论信息查询
                            </a>
                        </li>

                        <li>
                            <a href="/comments/search">
                                <i class="icon-double-angle-right"></i>评论信息分析
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 各类文章
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 推荐文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 精品文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="icon-pencil"></i> 新品文章
                                        <b class="arrow icon-angle-down"></b>
                                    </a>

                                    <ul class="submenu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-plus"></i> 历史
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 美文
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 技术
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 轶事
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 体育
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 两性
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-eye-open"></i> 其他
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 论坛管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/">
                                <i class="icon-double-angle-right"></i> 帖子信息管理
                            </a>
                        </li>

                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i> 帖子信息添加
                            </a>
                        </li>

                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i> 帖子信息搜索
                            </a>
                        </li>

                        <li>
                            <a href="jquery-ui.html">
                                <i class="icon-double-angle-right"></i> 帖子信息分析
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 帖子分类
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 英雄贴
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 招贤贴
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 议事贴
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 求援贴
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 觅美贴
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 攻略贴
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 副本管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/">
                                <i class="icon-double-angle-right"></i> 副本信息管理
                            </a>
                        </li>

                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i> 副本信息添加
                            </a>
                        </li>

                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i> 副本信息搜索
                            </a>
                        </li>

                        <li>
                            <a href="jquery-ui.html">
                                <i class="icon-double-angle-right"></i> 副本信息分析
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 副本分类
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 普通副本
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 精英副本
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 王者副本
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 传奇副本
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 公会副本
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 随机副本
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 任务管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/">
                                <i class="icon-double-angle-right"></i> 任务信息管理
                            </a>
                        </li>

                        <li>
                            <a href="buttons.html">
                                <i class="icon-double-angle-right"></i> 任务信息添加
                            </a>
                        </li>

                        <li>
                            <a href="treeview.html">
                                <i class="icon-double-angle-right"></i> 任务信息搜索
                            </a>
                        </li>

                        <li>
                            <a href="jquery-ui.html">
                                <i class="icon-double-angle-right"></i> 任务信息分析
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i> 任务分类
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 经验类任务
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 财富类任务
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 荣誉类任务
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 人气类任务
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i>公会类任务
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i> 随机副本
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-list"></i>
                            <span class="menu-text"> 表格 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="tables.html">
                                    <i class="icon-double-angle-right"></i> 简单 &amp; 动态
                                </a>
                            </li>

                            <li>
                                <a href="jqgrid.html">
                                    <i class="icon-double-angle-right"></i> jqGrid plugin
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-edit"></i>
                            <span class="menu-text"> 表单 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="form-elements.html">
                                    <i class="icon-double-angle-right"></i> 表单组件
                                </a>
                            </li>

                            <li>
                                <a href="form-wizard.html">
                                    <i class="icon-double-angle-right"></i> 向导提示 &amp; 验证
                                </a>
                            </li>

                            <li>
                                <a href="wysiwyg.html">
                                    <i class="icon-double-angle-right"></i> 编辑器
                                </a>
                            </li>

                            <li>
                                <a href="dropzone.html">
                                    <i class="icon-double-angle-right"></i> 文件上传
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="widgets.html">
                            <i class="icon-list-alt"></i>
                            <span class="menu-text"> 插件 </span>
                        </a>
                    </li>

                    <li>
                        <a href="calendar.html">
                            <i class="icon-calendar"></i>

                            <span class="menu-text">
									日历
									<span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
										<i class="icon-warning-sign red bigger-130"></i>
									</span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="gallery.html">
                            <i class="icon-picture"></i>
                            <span class="menu-text"> 相册 </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-tag"></i>
                            <span class="menu-text"> 更多页面 </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="profile.html">
                                    <i class="icon-double-angle-right"></i> 用户信息
                                </a>
                            </li>

                            <li>
                                <a href="inbox.html">
                                    <i class="icon-double-angle-right"></i> 收件箱
                                </a>
                            </li>

                            <li>
                                <a href="pricing.html">
                                    <i class="icon-double-angle-right"></i> 售价单
                                </a>
                            </li>

                            <li>
                                <a href="invoice.html">
                                    <i class="icon-double-angle-right"></i> 购物车
                                </a>
                            </li>

                            <li>
                                <a href="timeline.html">
                                    <i class="icon-double-angle-right"></i> 时间轴
                                </a>
                            </li>

                            <li>
                                <a href="login.html">
                                    <i class="icon-double-angle-right"></i> 登录 &amp; 注册
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-file-alt"></i>

                            <span class="menu-text">
									其他页面
									<span class="badge badge-primary ">5</span>
                            </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="faq.html">
                                    <i class="icon-double-angle-right"></i> 帮助
                                </a>
                            </li>

                            <li>
                                <a href="error-404.html">
                                    <i class="icon-double-angle-right"></i> 404错误页面
                                </a>
                            </li>

                            <li>
                                <a href="error-500.html">
                                    <i class="icon-double-angle-right"></i> 500错误页面
                                </a>
                            </li>

                            <li>
                                <a href="grid.html">
                                    <i class="icon-double-angle-right"></i> 网格
                                </a>
                            </li>

                            <li>
                                <a href="blank.html">
                                    <i class="icon-double-angle-right"></i> 空白页面
                                </a>
                            </li>
                        </ul>
                    </li> -->
            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {}
            </script>
        </div>