<%- include('header') %>
    <link rel="stylesheet" type="text/css" href="/css/Article.css">
    <link rel="stylesheet" type="text/css" href="/css/forum.css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="topic-title">
                    <div class="container">

                        <div class="title-wrapper">
                            <h1>
                                <a href="/users/505589500/messages">
                                    <span class="private-message-glyph"><i class="fa fa-envelope"></i></span>
                                </a>

                                <div id="ember3540" class="ember-view topic-statuses"></div>
                                <a class="fancy-title" data-ember-action="3541" href="/t/cocos-mmrpg/48105">
                                    <%= datas[0].postTitle %>
                                </a>
                                <!---->
                            </h1>

                            <div id="ember3543" class="ember-view">
                                <!----><a class="badge-wrapper bullet" href="/c/Creator"><span class="badge-category-bg" style="background-color: #25AAE2;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge"><%= datas[0].postCategory %></span></a>

                                <!---->
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div id="ember3209" class="ember-view topic-post clearfix regular topic-owner">
                    <div id="ember3432" class="ember-view gap jagged-border hidden"></div>
                    <!---->
                    <div class="row">
                        <section id="ember3433" class="ember-view embedded-posts top topic-body offset2 hidden">
                            <!---->
                        </section>
                    </div>

                    <article class="boxed " id="post_1" data-post-id="232537" data-user-id="5701">
                        <div class="row">

                            <div class="topic-avatar">
                                <a href="/users/lukejiegogo" classnames="trigger-user-card main-avatar" data-user-card="lukejiegogo"><img alt="" width="45" height="45" src="/letter_avatar_proxy/v2/letter/l/919ad9/45.png" class="avatar" title="lukejiegogo"></a>

                                <div class="poster-avatar-extra"></div>
                                <!---->
                            </div>

                            <div class="topic-body">
                                <div class="topic-meta-data">
                                    <div id="ember3434" class="ember-view names trigger-user-card"><span class="username"><a href="/users/lukejiegogo" data-auto-route="true" data-user-card="<%= author[0].userNick %>">lukejiegogo</a></span></div>
                                    <!---->
                                    <div class="post-info">
                                        <span class="relative-date" data-format="tiny"><%= datas[0].postStartTime %></span>
                                    </div>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <div title="主题是未读的" class="read-state read"><i class="fa fa-circle"></i></div>
                                </div>

                                <div class="select-posts hidden">
                                    <button data-ember-action="3435" class="hidden">选择以及回复其的帖子</button>
                                    <button class="select-post" data-ember-action="3436">选择</button>
                                </div>

                                <!-- keep the classes here in sync with composer.hbs -->
                                <div class=" contents regular ">
                                    <div class="cooked">
                                        <pre><%= datas[0].postContent %>
                                        </pre>

                                        <!---->
                                        <div id="ember3474" class="ember-view topic-after-cooked-outlet solved-panel">
                                            <!---->
                                        </div>
                                    </div>
                                    <!---->
                                    <!---->
                                    <section id="ember3439" class="ember-view post-menu-area clearfix">
                                        <nav class="post-controls">
                                            <div class="actions"><button aria-label="你和其他 7 人赞了该贴" title="你和其他 7 人赞了该贴" class="like-count highlight-action" data-action="like-count"><%= datas[0].postUp %> 赞</button><button aria-label="撤销赞" title="撤销赞" class="has-like fade-out"
                                                    data-action="like"><i class="fa fa-heart"></i></button>
                                                <button aria-label="分享一个到本帖的链接" title="分享一个到本帖的链接" data-share-url="/t/cocos-mmrpg/48105?u=505589500" data-post-number="1" data-action="share"><i class="fa fa-link"></i></button><button aria-label="私下报告本帖以提醒管理人员关注或发送私信通知"
                                                    title="私下报告本帖以提醒管理人员关注或发送私信通知" data-action="flag"><i class="fa fa-flag"></i></button><button aria-label="你已经阅读过此帖；点此为其添加书签" title="你已经阅读过此帖；点此为其添加书签" class="bookmark" data-action="bookmark"><div class="read-icon"></div></button>
                                                <button aria-label="开始给本帖撰写回复" title="开始给本帖撰写回复" class="create fade-out" data-action="reply"><i class="fa fa-reply"></i>回复</button>
                                            </div>
                                        </nav>
                                    </section>
                                </div>

                                <div id="ember3440" class="ember-view"><span></span></div>
                                <!---->
                                <section id="ember3441" class="ember-view post-actions hidden">
                                    <div class="clearfix"></div>
                                </section>
                                <div id="ember3449" class="ember-view topic-map">
                                    <div id="ember3458" class="ember-view">
                                        <section class="map ">
                                            <ul class="clearfix">
                                                <li>
                                                    <h4>创建时间</h4>
                                                    <img alt="" width="20" height="20" src="/uploads/<%= author[0].userAvatar %>" class="avatar" title="lukejiegogo">
                                                    <span class="relative-date date" title="<%= datas[0].postStartTime %>" data-format="medium"><%= datas[0].postStartTime %></span>
                                                </li>
                                                <li>
                                                    <a href="/t/cocos-mmrpg/48105/95">
                                                        <h4>最后回复</h4>
                                                        <% if(comment.length!=0){ %>
                                                            <img alt="" width="20" height="20" src="/uploads/<%= comer[comment.length-1].userAvatar %>" class="avatar" title="ly13714214979">
                                                            <span class="relative-date date" title="<%= comment[comment.length-1].fpostStartTime %>" data-format="medium"><%= comment[comment.length-1].fpostStartTime %></span>
                                                    </a>
                                                    <% } else{ %>
                                                        <span> 无 </span>
                                                        <% } %>

                                                </li>
                                                <li>
                                                    <span class="number" title="<%= comment.length %>"><%= comment.length %></span>
                                                    <h4>回复</h4>
                                                </li>
                                                <li class="secondary">
                                                    <span class="number heatmap-med" title="<%= datas[0].postSaw %>"><%= datas[0].postSaw %></span>
                                                    <h4>浏览</h4>
                                                </li>
                                                <li class="secondary">
                                                    <a id="comer"><span class="number" title="<%= comer.length %>"><%= userLength %></span></a>
                                                    <h4>用户</h4>
                                                </li>
                                                <li class="secondary">
                                                    <span class="number" title="<%= datas[0].postUp %>"><%= datas[0].postUp %></span>
                                                    <h4>赞</h4>
                                                </li>
                                                <!-- <li class="secondary">
                                                    <span class="number" title="1">1</span>
                                                    <h4>打赏</h4>
                                                </li> -->
                                                <!-- <li class="avatars hidden">
                                                    <div id="ember3484" class="ember-view">
                                                        <a href="" data-ember-action="3485" title="lukejiegogo" class="poster ">
                                                            <span class="post-count">26</span>
                                                            <img alt="" width="32" height="32" src="/letter_avatar_proxy/v2/letter/l/919ad9/32.png" class="avatar" title="lukejiegogo">
                                                        </a>
                                                    </div>
                                                    <div id="ember3486" class="ember-view">
                                                        <a href="" data-ember-action="3487" title="juper_cn" class="poster ">
                                                            <span class="post-count">6</span>
                                                            <img alt="" width="32" height="32" src="/letter_avatar_proxy/v2/letter/j/7ab992/32.png" class="avatar" title="juper_cn">
                                                        </a>
                                                    </div>
                                                    <div id="ember3488" class="ember-view">
                                                        <a href="" data-ember-action="3489" title="bluehumor" class="poster ">
                                                            <span class="post-count">5</span>
                                                            <img alt="" width="32" height="32" src="/letter_avatar_proxy/v2/letter/b/839c29/32.png" class="avatar" title="bluehumor">
                                                        </a>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </section>

                                    </div>
                                    <section id="ember3467" class="ember-view information">
                                        <p>有 <b><%= comment.length %></b> 个回复。</p>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </article>
                    <div class="col-md-8">
                        <% if(!user){ %>
                            <div class="reply-header gray text ">评论请登录！</div>
                            <div class="reply-area ">
                                <a href="javascript:void(0);" class="rg-button do-reply right" data-toggle="modal" data-target="#signinModal"> 登录</a>
                                <div class="reply-unlogin one-row ">

                                </div>

                            </div>
                            <% }else{ %>
                                <form method="POST" action="/fposts/create" enctype="multipart/form-data">
                                    <label for="fpid"></label>
                                    <input type="text" name="fpid" id="fpid" class="hidden" value="<%= datas[0].postId %>">
                                    <label for="fp"></label>
                                    <input type="text" name="fp" id="fp" class="hidden">
                                    <textarea id="fpost" name="fpcontent" class="rg-textarea " rows="4" placeholder="这里输入评论内容 " value="getValue()"></textarea>
                                    <!-- <a href="javascript:void(0); " class="rg-button do-reply right "></a> -->
                                    <div class="reply-unlogin one-row ">
                                        <input type="submit" style="width:120px;" class="rg-button do-reply right" value="快速回复">
                                        <a href="javascript:;" class="file rg-button">上传图片
                                    <input type="file" name="fppic" id="" style="width:100%">
                                             <span class="showFileName"></span>
                                                            </a>
                                        <script>
                                            $(function() {
                                                $(".file").on("change", "input[type='file']", function() {
                                                    var filePath = $(this).val();
                                                    if (filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1) {
                                                        $(".fileerrorTip").html("").hide();
                                                        var arr = filePath.split('\\');
                                                        var fileName = arr[arr.length - 1];
                                                        $(".showFileName").html(fileName);
                                                    } else {
                                                        $(".showFileName").html("");
                                                        return false
                                                    }
                                                })
                                            });
                                        </script>
                                    </div>
                                </form>
                                <% } %>
                    </div>
                </div>
                <div id="topic-title">
                    <div class="container">

                        <div class="title-wrapper">
                            <h1>
                                全部回复
                                <!---->
                            </h1>
                        </div>
                        <!---->
                    </div>
                </div>
                <% if(comment.length==0){ %>
                    <div id="ember1068" class="ember-view post-cloak" style="">
                        这个帖子太冷了，还没人发言呢！
                    </div>
                    <% }else{for(let i = comment.length-1;i>=0;i--){ %>
                        <div id="ember1068" class="ember-view post-cloak" style="">
                            <div id="ember1069" class="ember-view topic-post clearfix regular">
                                <div id="ember1266" class="ember-view gap jagged-border hidden"></div>
                                <!---->
                                <div class="row">
                                    <section id="ember1267" class="ember-view embedded-posts top topic-body offset2 hidden">
                                        <!---->
                                    </section>
                                </div>

                                <article class="boxed ">
                                    <div class="row">
                                        <div class="topic-avatar">
                                            <a href="/users/toSelect/<%= comment[i].fpostUid %>" classnames="trigger-user-card main-avatar" data-user-card="<%= comer[i].userNick %>"><img alt="" width="45" height="45" src="/uploads/<%= comer[i].userAvatar %>" class="avatar" title="<%= comer[i].userNick %>"></a>

                                            <div class="poster-avatar-extra"></div>
                                            <!---->
                                        </div>

                                        <div class="topic-body">
                                            <div class="topic-meta-data">
                                                <div id="ember1268" class="ember-view names trigger-user-card">
                                                    <span class="username">
                                                        <a href="/users/toSelect/<%= comment[i].fpostUid %>" id="userNick<%= comer[i].userId %>" data-auto-route="true" data-user-card="<%= comer[i].userNick %>" style="display:inline;"><%= comer[i].userNick %></a>
                                                    <p class="user-level"  style="display:inline;">
                                                        <a href="" class="rg-label small level" id="level<%= comer[i].userClass %>">
                                                            <%= comer[i].userClass %>
                                                        </a>
                                                    </p></span>
                                                </div>
                                                <!---->
                                                <div class="post-info">
                                                    <a class="post-date"><span class="relative-date" title="<%= comment[i].fpostStartTime %>" data-format="tiny"><%= comment[i].fpostStartTime %></span></a>
                                                </div>

                                                <div title="主题是未读的" class="read-state read"><i class="fa fa-circle"></i></div>
                                            </div>

                                            <div class="select-posts hidden">
                                                <button data-ember-action="1269" class="hidden">选择以及回复其的帖子</button>
                                                <button class="select-post" data-ember-action="1270">选择</button>
                                            </div>
                                            <div class=" contents regular ">
                                                <div class="cooked">
                                                    <p>
                                                        <%= comment[i].fpostContent %>
                                                    </p>
                                                </div>
                                                <section id="ember1273" class="ember-view post-menu-area clearfix">
                                                    <nav class="post-controls">
                                                        <div class="actions" id="<%= comer[i].userNick %>"><button aria-label="赞本帖" title="赞本帖" class="like" data-action="like"><i class="fa fa-heart"></i></button><button aria-label="分享一个到本帖的链接" title="分享一个到本帖的链接" data-share-url="/t/cocos-mmrpg/48105/81?u=505589500"
                                                                data-post-number="81" data-action="share"><i class="fa fa-link"></i></button><button aria-label="私下报告本帖以提醒管理人员关注或发送私信通知" title="私下报告本帖以提醒管理人员关注或发送私信通知" data-action="flag"><i class="fa fa-flag"></i></button>
                                                            <button aria-label="你已经阅读过此帖；点此为其添加书签" title="你已经阅读过此帖；点此为其添加书签" class="bookmark" data-action="bookmark">
                                                        <div class="read-icon"></div>
                                                        </button>
                                                            <button aria-label="开始给本帖撰写回复" title="开始给本帖撰写回复" class="create fade-out reply" data-action="reply"><i class="fa fa-reply"></i>回复</button></div>
                                                    </nav>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <% }} %>
                        </div>
            </div>
        </div>
        <script>
            $(function() {
                $("#fpost").change(function() {
                    $("#fp")[0].value = $("#fpost").val();
                    console.log($("#fp")[0].value);
                });
                let array = [];
                let length = <%= comer.length %>;
                console.log("length:" + length);
                $(".reply").on('click', function() {
                    var s = "@" + $(this).parent().attr('ID');
                    $("#fpost").val(s);
                    $("html,body").animate({
                        scrollTop: $("#qy_name").offset().top
                    }, 1000);

                });
            })
        </script>
        <script src="/js/level.js"></script>
        <%- include('footer') %>