<%- include('header') %>
    <link rel="stylesheet" href="/css/lib.css" />
    <link rel="stylesheet" href="/css/page.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <div class="col-12">
        <section class="search-head-section one-section white section" style=" display: block;">
            <div class="col-group">
                <div class="col-3 col-mb-12"></div>
                <form method="POST" action="/searchRoom/search" id="createArticleForm">
                    <div class="search col-6 col-mb-12">
                        <div class="search-box">
                            <input type="text" class="input-text input-search" placeholder="输入关键字搜索" value="" name="search">
                            <input type="submit" class="do-search gray" value="搜 索">
                        </div>
                        <div class="option">
                            <label>
							<input name="type" type="radio" value="article" checked=""> 文章
						</label>
                            <label>
							<input name="type" type="radio" value="forum"> 论坛
						</label>
                            <label>
							<input name="type" type="radio" value="tweet"> 泡泡
						</label>
                            <label>
							<input name="type" type="radio" value="user"> 用户
						</label>
                        </div>
                    </div>
                </form>
                <div class="col-3 col-mb-12"></div>
            </div>
        </section>
    </div>
    <div class="col-6 col-mb-12">
        <section class="search-recommend-section">
            <div class="rg-board one-section white section">
                <div class="rg-board-body">
                    <ul class="recommend-list">
                        <% if(datas.length!=0){ if(fzNumber==0){ %>
                            <div class="rg-board-head">
                                <h3 class="title">文章查询结果</h3>
                            </div>
                            <% for(let i = 0;i<datas.length;i++){ %>
                                <li class="result-item article-item">
                                    <p class="title" search-hit="false" keyword="">
                                        <a href="/articles/art/<%= datas[i].artId %>" class="text">
                                            <%= datas[i].artTitle %>
                                        </a>
                                    </p>

                                    <p class="meta text gray">
                                        <span class="span-item">
			<a href="/users/toSelect/<%= users[i].userId %>" class="gray">
				 <img src="/uploads/users/<%= users[i].userAvatar %>" data-original="/uploads/users/<%= users[i].userAvatar %>" class="head img-circle " alt="<%= users[i].userNick %>" width="20" height="20"> <%= users[i].userNick %>
			</a>
		</span>
                                        <span class="span-item">
			<i class="ri ri-clock-o"></i> <%= datas[i].postStartTime %>
		</span>
                                    </p>
                                </li>
                                <% } }else if(fzNumber==2){ %>
                                    <div class="rg-board-head">
                                        <h3 class="title">帖子查询结果</h3>
                                    </div>
                                    <% for(let i = 0;i<datas.length;i++){ %>
                                        <li class="result-item article-item">
                                            <p class="title" search-hit="false" keyword="">
                                                <a href="/talkRoom/posts/<%= datas[i].postId %>" class="text">
                                                    <%= datas[i].postTitle %>
                                                </a>
                                            </p>

                                            <p class="meta text gray">
                                                <span class="span-item">
			<a href="/users/toSelect/<%= users[i].userId %>" class="gray">
				 <img src="/uploads/users/<%= users[i].userAvatar %>" data-original="/uploads/users/<%= users[i].userAvatar %>" class="head img-circle " alt="<%= users[i].userNick %>" width="20" height="20"> <%= users[i].userNick %>
			</a>
		</span>
                                                <span class="span-item">
			<i class="ri ri-clock-o"></i> <%= datas[i].postStartTime %>
		</span>
                                            </p>
                                        </li>
                                        <% }}}else if(users.length!=0){ %>
                                            <div class="rg-board-head">
                                                <h3 class="title">用户查询结果</h3>
                                            </div>
                                            <% for(let i = 0;i<users.length;i++){%>
                                                <li class="result-item article-item">
                                                    <p class="meta text gray">
                                                        <span class="span-item">
			<a href="/users/toSelect/<%= users[i].userId %>" class="gray">
				 <img src="/uploads/users/<%= users[i].userAvatar %>" data-original="/uploads/users/<%= users[i].userAvatar %>" class="head img-circle " alt="<%= users[i].userNick %>" width="20" height="20"> <%= users[i].userNick %>
			</a>
        </span>
                                                        <span class="span-item">
			 <%= users[i].userEmail %>
		</span>
                                                        <span class="span-item">
			 <%= users[i].userPhone %>
		</span>
                                                        <span class="span-item">
			 <%= users[i].userLogo %>
		</span>
                                                    </p>
                                                </li>
                                                <% }}else { %>
                                                    <li class="result-item article-item">
                                                        <h3>无搜索结果</h3>
                                                    </li>
                                                    <div>推荐阅读:</div>
                                                    <h4> 方丈阁小故事</h4>
                                                    <span>杜三贱在什么时候当上的方丈阁主？----<a href="#">点击查看答案</a></span>
                                                    <% } %>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <%- include('footer') %>