<%- include('userHeader') %>
    <section class="home-section one-section container">
        <div class="col-group">
            <div class="col-dt-9 col-9 col-mb-12">
                <section class="home-content-section one-section white section">
                    <div class="rg-board white">
                        <div class="rg-board-head">
                            <p class="title">修改昵称</p>
                            <a href="/users/toSelect/<%= datas[0].userId %>/" class="more">我的首页 &gt;</a>
                        </div>

                        <div class="rg-board-body set-board white">
                            <div class="set-menus">
                                <ul class="menu-list">
                                    <li class="menu-item ">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/profile" class="gray">资料设置</a>
                                    </li>
                                    <li class="menu-item  current">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/name" class="">修改昵称</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/password" class="gray">设置密码</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/email" class="gray">绑定邮箱</a>
                                    </li>
                                    <!-- <li class="menu-item ">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/social" class="gray">社交帐号</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="/users/toSelect/<%= datas[0].userId %>/set/inviter" class="gray">邀请人</a>
                                    </li> -->
                                </ul>
                            </div>

                            <div class="set-content">
                                <div class="ui form">


                                    <form method="POST" action="/users/set/name" accept-charset="UTF-8"><input name="_token" type="hidden" value="jkmr07DvNY3EUgdkaY12m8dTKH8j2jCcqiNM3Ffa">

                                        <div class="field">
                                            <label for="">新昵称</label>
                                            <input placeholder="输入新昵称" name="nick" type="text" value="<%= datas[0].userNick %>">
                                        </div>
                                        <input class="rg-button save-button" type="submit" value="修改">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="col-dt-3 col-3 col-mb-12">
                <section class="home-side-section">
                    <div class="intro-block one-section white section">
                        <div class="rg-board">
                            <div class="rg-board-head">
                                <p class="title">简介</p>
                                <a href="/users/toSelect/<%= datas[0].userId %>/profile" class="more">详细资料 &gt;</a>
                            </div>

                            <div class="rg-board-body text">
                                <%= datas[0].userAbout %>
                            </div>
                        </div>
                    </div>


                    <div class="count-block one-section white section">
                        <div class="rg-board">
                            <div class="rg-board-head">
                                <p class="title">统计</p>
                            </div>
                            <div class="rg-board-body">
                                <p>若古币：4 文钱</p>
                                <p>生命：37</p>

                                <p>真气：12</p>

                                <p>访问量：3</p>

                                <p>文章：1</p>

                                <p>帖子：0</p>

                                <p>冒泡：0</p>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <%- include('articleFooter') %>