<%- include('header') %>
    <link rel="stylesheet" type="text/css" href="/css/forum.css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section id="main" class="ember-application">
                    <div id="ember711" class="ember-view">
                        <div id="main-outlet" class="wrap" style="padding-bottom: 0px;">
                            <div class="container">
                                <!---->
                                <div id="ember755" class="ember-view"></div>
                                <div id="ember766" class="ember-view hidden create-topics-notice">
                                    <!---->
                                </div>
                            </div>
                            <div class="container">
                                <div id="ember924" class="ember-view"></div>
                            </div>
                            <div class="list-controls">
                                <div class="container">
                                    <div id="ember930" class="ember-view">
                                        <ol id="ember960" class="ember-view category-breadcrumb">
                                            <li id="ember981" class="ember-view has-drop bullet">
                                                <a href="" class="badge-category" data-ember-action="982" style="background-color: #25AAE2; border-color: #25AAE2;color: #FFF; " aria-label="显示分类列表" aria-expanded="false">
                                                    <span class="badge-category-bg" style="background-color: #25AAE2;"></span>
                                                    <!---->
                                                    全部分类
                                                </a>
                                                <a href="" data-ember-action="984" class="badge-category category-dropdown-button" style="background-color: #25AAE2; border-color: #25AAE2;color: #FFF; "><i class="fa fa-caret-right"></i></a>
                                                <section class="hidden category-dropdown-menu chooser">
                                                    <div class="cat"><a data-drop-close="true" class="badge-category home" href="/">所有分类</a></div>
                                                    <!---->
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/cocos2d-x"><span class="badge-category-bg" style="background-color: #0088CC;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge">Cocos2d-x</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/Creator"><span class="badge-category-bg" style="background-color: #25AAE2;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge">Creator</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/anysdk"><span class="badge-category-bg" style="background-color: #0088CC;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge">AnySDK</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/Studio"><span class="badge-category-bg" style="background-color: #231F20;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge">Studio</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/Code-IDE"><span class="badge-category-bg" style="background-color: #231F20;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge">Code IDE</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/tizen"><span class="badge-category-bg" style="background-color: #AB9364;"></span><span style="color: #FFFFFF;" data-drop-close="true" class="badge-category clear-badge" title="For Samsung Tizen support">Tizen</span></a></div>
                                                    <div class="cat"><a class="badge-wrapper bullet" href="/c/Others"><span class="badge-category-bg" style="background-color: #B3B5B4;"></span><span style="color: #FFFFFF;" data-drop-close="true" class="badge-category clear-badge">非技术话题</span></a></div>
                                                </section>
                                            </li>
                                            <li id="ember986" class="ember-view no-category has-drop bullet"> <a href="" class="badge-category home" data-ember-action="987" style="background-color: #eee; color: #333" aria-label="显示分类列表" aria-expanded="false">全部</a>

                                                <a href="" data-ember-action="989" class="badge-category category-dropdown-button home" style="background-color: #eee; color: #333"><i class="fa fa-caret-right"></i></a>
                                                <section class="hidden category-dropdown-menu chooser">
                                                    <div class="cat"><a data-drop-close="true" class="badge-category home" href="/c/Creator">全部</a></div>
                                                    <div class="cat"><a data-drop-close="true" class="badge-category home" href="/c/Creator/none">无</a></div>
                                                    <!---->
                                                </section>
                                            </li>

                                            <!---->

                                            <div class="clear"></div>
                                        </ol>


                                        <ul id="ember971" class="ember-view nav nav-pills">
                                            <li id="ember1003" class="ember-view active" title="最新发布的帖子"><a href="/talkRoom//latest">最新</a></li>
                                            <li id="ember1004" class="ember-view" title="最近几天创建的主题"><a href="/talkRoom//new">近期（99+）</a></li>
                                            <li id="ember1006" class="ember-view" title="最近一年、一月、一周或一天的最活跃主题"><a href="/talkRoom//top">热门</a></li>
                                            <li id="ember1007" class="ember-view" title="你发表过帖子的主题"><a href="/users/toSelect/176/post">我的帖子</a></li>
                                            <li id="ember1008" class="ember-view" title="你标上书签的主题"><a href="/talkRoom/bookmarks">书签</a></li>
                                            <!---->
                                        </ul>
                                        <a href="/talkRoom/create" target="_blank">
                                            <button id="create-topic" class="ember-view btn-default btn"><i class="fa fa-plus"></i> 新主题</button>
                                        </a>

                                        <!---->
                                        <section class="category-heading">
                                            <!---->
                                        </section>
                                    </div>
                                </div>
                            </div>

                            <div id="ember939" class="ember-view">
                                <!---->
                            </div>

                            <div class="container list-container ">
                                <div class="row">
                                    <div class="full-width">
                                        <div id="header-list-area">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="full-width">
                                        <div id="list-area">
                                            <!---->
                                            <div id="ember951" class="ember-view">
                                                <!---->
                                                <!---->
                                                <div id="ember1042" class="ember-view">
                                                    <!---->
                                                </div>

                                                <div class="contents">
                                                    <!---->
                                                    <table id="ember1052" class="ember-view topic-list">
                                                        <thead>
                                                            <tr>
                                                                <th data-sort-order="default" class="default">帖子</th>

                                                                <th data-sort-order="category" class="category sortable">分类</th>

                                                                <th data-sort-order="posters" class="posters">发布者</th>

                                                                <th data-sort-order="posts" class="posts sortable num">回复</th>

                                                                <th data-sort-order="views" class="views sortable num">浏览</th>

                                                                <th data-sort-order="activity" class="activity sortable num">创建时间</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr id="ember1062" class="ember-view topic-list-item category-Creator has-excerpt" data-topic-id="50235">
                                                                <td class="main-link clearfix" colspan="1">
                                                                    <div class="topic-statuses">
                                                                        <span title="本主题已关闭；不再接受新的回复" class="topic-status"><i class="fa fa-lock"></i></span><a href="" title="本主题已置顶；它将始终显示在它所属分类的顶部" class="topic-status"><i class="fa fa-thumb-tack"></i></a></div>
                                                                    <a href="/" class="title">开天辟地第一文</a>
                                                                    <span class="topic-post-badges">
<a href="/t/cc-eventmanager-2-0-cc-systemevent/50235" class="badge badge-notification new-topic" title="新主题">近期</a>
</span>
                                                                    <div class="topic-excerpt">
                                                                        欲知详情，请看下回分解！！！！
                                                                    </div>
                                                                </td>
                                                                <td class="category"><a class="badge-wrapper bullet" href="/"><span class="badge-category-bg" style="background-color: #25AAE2;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge"><%= datas[0].postCategory %></span>
                                                </a>
                                                                </td>
                                                                <td class="posters">
                                                                    <a href="/users/toSelect/<%= datas[0].postUid %>" data-user-card="<%= users[0].userNick %>" class="latest"><img alt="" width="25" height="25" src="/uploads/users/<%= users[0].userAvatar %>" class="avatar latest" title="<%= users[0].userNick %>"></a>
                                                                </td>
                                                                <td class="num posts-map posts heatmap-" title="这个主题有 5 个帖子">
                                                                    <a href="" class="posts-map badge-posts heatmap-">5</a>
                                                                </td>
                                                                <td class="num views "><span class="number" title="本主题已经被浏览过 167 次">167</span></td>
                                                                <td class="num age activity" title=""><a href="/"><span class="relative-date" data-time="1503390905188" data-format="tiny"><%= datas[0].postStartTime %></span></a></td>
                                                            </tr>
                                                            <% for(let i =0;i< datas.length;i++){ %>
                                                                <tr class="ember-view topic-list-item category-Creator" data-topic-id="50281">
                                                                    <td class="main-link clearfix" colspan="1">

                                                                        <a href="/talkRoom/posts/<%= datas[i].postId %>" class="title">
                                                                            <%= datas[i].postTitle %>
                                                                        </a>
                                                                        <div class="topic-excerpt">
                                                                            <%= datas[i].postContent %>
                                                                        </div>
                                                                    </td>
                                                                    <td class="category"><a class="badge-wrapper bullet" href="/talkRoom/hero/"><span class="badge-category-bg" style="background-color: #25AAE2;"></span><span style="color: #FFF;" data-drop-close="true" class="badge-category clear-badge"><%= datas[i].postCategory %></span></a></td>
                                                                    <td class="posters">
                                                                        <a href="/users/toSelect/<%= datas[i].postUid %>" data-user-card="<%= users[i].userNick %>" class="latest single"><img alt="" width="25" height="25" src="/uploads/users/<%= users[i].userAvatar %>" class="avatar latest single" title="<%= users[i].userNick %>"></a>
                                                                    </td>
                                                                    <td class="num posts-map posts heatmap-" title="这个主题有 0 个帖子">
                                                                        <a href="" class="posts-map badge-posts heatmap-">0</a>
                                                                    </td>
                                                                    <td class="num views "><span class="number" title="本主题已经被浏览过 <%= datas[i].postSaw %> 次"><%= datas[i].postSaw %> </span></td>
                                                                    <td class="num age activity" title="第一帖: <%= datas[i].postStartTime %>
最后一帖: 2017年8月23日下午2点08分"><a href="/talkRoom/posts/<%= datas[i].postId %>"><span class="relative-date" data-format="tiny"><%= datas[i].postStartTime %></span></a></td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <footer class="topic-list-bottom">
                                                    <div id="ember1043" class="ember-view">
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="user-card" class="ember-view show-badges">
                                <!---->
                            </div>
                        </div>
                        <!---->
                        <div id="discourse-modal" class="ember-view modal hidden" data-keyboard="false">
                            <div class="modal-outer-container">
                                <div class="modal-middle-container">
                                    <div class="modal-inner-container">
                                        <div class="modal-header">
                                            <a class="close" data-ember-action="1114"><i class="fa fa-times"></i></a>
                                            <h3>
                                                <!---->
                                            </h3>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="modal-alert"></div>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="topic-entrance" class="ember-view hidden"><button id="ember1116" class="ember-view full jump-top btn no-text">  <i class="fa fa-caret-up"></i> 70年1月1日<br>早上8点00分
</button>
                            <button id="ember1117" class="ember-view full jump-button btn no-text">  70年1月1日<br>早上8点00分 <i class="fa fa-caret-down"></i>
</button></div>
                        <div id="reply-control" class="ember-view closed processed">
                            <div class="grippie"></div>
                            <!---->
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

    <%- include('footer') %>