<%- include('userHeader') %>
    <div class="col-dt-9 col-9 col-mb-12">
        <section class="home-content-section one-section white section">
            <div class="tab-panel">
                <div class="tab">
                    <% if(datas[0].userId==user.userId){ %>
                        <ul>
                            <li class="tab-item active">
                                <a href="/users/toSelect/<%= datas[0].userId %>">与我相关</a>
                            </li>
                            <li class="tab-item">
                                <a href="/users/toSelect/<%= datas[0].userId %>/followed">关注</a>
                            </li>
                            <li class="tab-item ">
                                <a href="/users/toSelect/<%= datas[0].userId %>/article">文章</a>
                            </li>
                            <li class="tab-item ">
                                <a href="/users/toSelect/<%= datas[0].userId %>/collection">文集</a>
                            </li>
                            <li class="tab-item ">
                                <a href="/users/toSelect/<%= datas[0].userId %>/post">帖子</a>
                            </li>
                            <li class="tab-item ">
                                <a href="/users/toSelect/<%= datas[0].userId %>/notification">消息</a>
                            </li>
                        </ul>
                </div>
                <div class="tab-content">
                    <div class="followed-events">
                        <ul class="event-list">
                            <li class="event-item">
                                <a href="#" class="user-head">
                                    <img src="/uploads/users/<%= user.userAvatar %>" width="40" height="40" alt="明发不寐杜怀三">
                                </a>

                                <div class="event-body clearfix">
                                    <p class="thing">
                                        <a href="#" target="_blank">明发不寐杜怀三</a>
                                        <span> 1天前 </span> 在文章
                                        <a href="#" target="_blank">事一.天地动，大炎出</a> 中 @ 了你
                                    </p>
                                    <p class="reply-content gray text">@方丈遗少不是杜三贱 君上他回来了吗？我是他第六百零七分身</p>

                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <% }else{ %>
                    <ul>
                        <li class="tab-item">
                            <a href="/users/toSelect/<%= datas[0].userId %>/article">文章</a>
                        </li>
                        <li class="tab-item">
                            <a href="/users/toSelect/<%= datas[0].userId %>/collection">文集</a>
                        </li>
                        <li class="tab-item">
                            <a href="/users/toSelect/<%= datas[0].userId %>/post">帖子</a>
                        </li>
                    </ul>
            </div>
            <% } %>

    </div>
    </section>
    </div>
    <%- include('userFooter') %>